[Desktop Entry]
Type=Application
Name=Chromium
Comment=Bot browser
Exec=silo-chromium
Icon=/opt/silo/chromium.png
Terminal=false
Categories=Network;WebBrowser;
